.header {
    color: #fff;
    background: rgb(4, 182, 48);
}

.markdown-body a {
    color: rgb(4, 182, 48);
}

.sidebar {
    color: #fff;
    background: rgb(0, 0, 0);
}

a {
    color: #000000;
    text-decoration: none;
}

// .content-wrap {
//     max-width: 1440px;
// }

// img {
//     width: 100%;
//     height: auto;
// }