<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/"
      >NTU Aerial Robotics and Intelligent Systems</a
    >
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.menu %}
        <li class="nav-item{% if item.link == page.url %} active {% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">{{
            item.title
          }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
